name: Keep Render Alive

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  ping_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Ping al Backend
        run: curl -I https://short-cirkuit-reskin.onrender.com/api/alive
